
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color:rgb(128, 153, 165);
    }

    h1 {
      text-align: center;
      background-color:rgb(58, 128, 203);
      color: white;
      padding: 20px;
      margin: 0;
    }

    .btn {
      text-decoration: none;
      padding: 10px 20px;
      color: white;
      background-color: red;
      border-radius: 5px;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .sidebar {
      position: fixed;
      top: 80px;
      left: 0;
      width: 200px;
      height: 100%;
      background-color:rgb(158, 179, 200);
      padding: 20px;
      color: white;
      transition: all 0.3s ease;
    }

    .sidebar h5 {
      margin-bottom: 30px;
      color:rgb(165, 228, 216);
      font-weight: bold;

    }
    .sidebar a {
      display: block;
      color: white;
      text-decoration: none;
      padding: 10px 0;
      margin-bottom: 10px;
      border-bottom: 1px solidrgb(126, 155, 183);
    }

    .sidebar a:hover {
      background-color:rgb(142, 191, 239);
      padding-left: 10px;
      transition: all 0.3s;
    }

    .main {
      margin-left: 220px;
      padding: 40px;
      transition: margin-left 0.3s ease;
    }
    .card {
   
      /* margin-top: 20px; */
      background: white;
      border-radius: 8px;
      padding: 20px;
      margin-bottom: 20px;
      border-left: 5px solidrgb(59, 137, 221);
      box-shadow: 0 2px 5px rgba(99, 168, 177, 0.1);
    }

    .card-header {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .sidebar.collapsed {
      margin-left: -260px;
    }
    .card-header.bg-primary { background-color: #007bff; color: white; }

    .main.collapsed {
      margin-left: 20px;
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header h3 {
      margin: 0;
    }
   
    .toggle-btn {
      position: absolute;
      top: 15px;
      left: 15px;
      background-color:rgb(75, 146, 217);
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }

    .logout-btn {
      position: absolute;
      top: 15px;
      right: 15px;
    }
    .btn2 {
      text-decoration: none;
      padding: 10px 20px;
      color: white;
      background-color: red;
      border-radius: 5px;
      position: absolute;
      top: 200px;
      right: 50px;
    }